apiVersion: nodetopology.openshift.io/v1alpha1
kind: NUMAResourcesScheduler
metadata:
  name: numaresourcesscheduler
spec:
  cacheResyncPeriod: 5s
  imageSpec: "quay.io/fromani/k8s-sched-plugins:v0.0.2023032702"
  logLevel: Trace
