apiVersion: nodetopology.openshift.io/v1alpha1
kind: NUMAResourcesOperator
metadata:
  name: numaresourcesoperator
spec:
  logLevel: Normal
  nodeGroups:
  - config:
      infoRefreshMode: Periodic
    machineConfigPoolSelector:
      matchLabels:
        pools.operator.machineconfiguration.openshift.io/worker-nas: "" 
  podExcludes:
  - name: image-pruner-*
    namespace: openshift-image-registry
  - name: collect-profiles-*
    namespace: openshift-operator-lifecycle-manager
